@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Roboto:400,500,700');

$headers: #343434;
$main_font_color: #545760;
$primary_background_color: white;
$teal_primary: #8cd3d8;
$primary_red: #ff584c;
$secondary_navy: #123466;
$error_red: #f44336;
$air_blue: #95f2ea;
$dana_blue: #8bdddf;

* {
  font-family: 'Cabin', sans-serif;
}

html {
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: $primary_background_color;
  min-height: 100vh;

  a {
    text-decoration: none;
  }

  #root {
    min-height: 100vh;
    @import '../node_modules/bulma/bulma.sass';
    @import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css');
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    @import './view/Navigation/styles/index.scss';
    @import './view/Landing/styles/index.scss';
    @import './view/Login/styles/index.scss';
    @import './view/Common/styles/index.scss';
    @import './view/Signup/styles/index.scss';
    @import './view/Map/styles/index.scss';
  }

  #root > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.primary_red {
  background-color: $primary_red !important;
}
