$headers: #343434;
$main-font-color: #2d333a;
$primary_background_color: white;
$teal_primary: #8cd3d8;
$primary_red: #ff584c;
$error_red: #f44336;

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary_background_color;
  min-height: 100vh;
  font-family: Helvetica;

  a {
    text-decoration: none;
  }

  #root {
    min-height: 100vh;
    @import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css');
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
    @import './view/Landing/styles/index.scss';
    @import './view/Navigation/styles/index.scss';
    @import './view/Login/styles/index.scss';
    @import './view/Common/styles/index.scss';
    @import './view/Signup/styles/index.scss';
    @import './view/Map/styles/index.scss';
  }

  #root > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.primary_red {
  background-color: $primary_red !important;
}
