.header-container {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
}

.header {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .title-container {
    display: flex;
    justify-content: center;
    border: 1px solid red;
  }

  .searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid green;
  }
}

@media (max-width: 650px) {
  .header {
    border: 1px solid yellow;
    justify-content: center;
  }
}
