$main-font-color: #fff;

html, body, .viewport {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  background-color: #303030;
  height: 100%;

  a {
    text-decoration: none;
    color: $main-font-color;
  }

  #root {
    @import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
    @import 'SearchBar.scss';
    @import 'MovieList.scss';
    @import 'MoviePreviewCard.scss';
    @import 'MovieDetail.scss';
  }
}
