$main-font-color: #fff;

html,
body,
.viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: $main-font-color;
}

#root {
  flex: 1;
  @import 'SearchBar.scss';
  @import 'MovieList.scss';
  @import 'MoviePreviewCard.scss'
}
