.photo-grid-container {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 5rem;
}

.photo-grid {
	width: 900px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.gridloader {
		padding-top: 10rem;
	}
}
