.photo-grid-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  padding-top: 1rem;
}

.photo-grid {
  border: 1px solid purple;
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
