.navbar-fixed {
  nav {
    background-color: #FDFDFD !important;
    border-bottom: 1px solid $primary_red;
  }

  #nav_logo {
    padding-left: 1rem;
    font-size: 4rem;
    color: $primary_red;
  }

  #logo_text {
    color: $primary_red;
  }

  #login_popout_body {
    min-width: 300px;
    background-color: $primary_background_color;

    input {
      color: $main-font-color;
    }

    .errors {
      color: $error_red;

      p {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 750px) {
  #nav_logo {
    display: none;
  }
}
