.banner_container {
  min-height: 100vh;

  .banner_img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 60vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
      url('./images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    padding-left: 10vw;

    .hero {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 50px;
      font-weight: 600;
      line-height: 64px;
      color: #fcfcfc;
    }

    .sub_hero {
      font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
      font-size: 25px;
      font-weight: 275;
      line-height: 45px;
      color: #fcfcfc;
      padding-top: 4vh;
    }

    .call_to_action {
      padding-top: 8vh;

      a {
        text-transform: none;
      }
    }
  }

  .mission_container {
    min-height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5vh;
    padding-left: 10vw;

    .mission_header {
      color: $headers;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 0;
      // line-height: 32px;
    }

    .mission_content {
      color: #545760;
    }
  }
}

@media (max-width: 750px) {
  .hero {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 10px;
    color: $primary_red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2vh;
    text-align: center;
  }

  .sub_hero {
    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 275;
    line-height: 5px;
    color: $primary_red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2vh;
    text-align: center;
  }

  .call_to_action {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}
