.demo_map_container {
  min-height: 100vh;
  background-image: url('./images/linked_icons.svg');
  background-position: 5px 0px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  padding-bottom: 5rem;

  .content_gutter {
    width: 80vw;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid $headers;
    margin-top: 2rem;

    .demo_header {
      width: 35vw;
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem;

      h2 {
        font-family: 'Roboto', sans-serif;
        color: #ff5745;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
      }

      p {
        padding-top: 2rem;
        // font-family: Helvetica, serif;
        color: #545760;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }

    .map_container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .map {
        width: 90vw;
        height: 70vh;
      }

      .query-results {
        border: 1px dashed brown;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  /// other stuff

  .practice-search {
    margin: 1rem auto;
  }

  .sub-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .sorting-btn {
    margin: 1rem;
    display: flex;
    justify-content: center;
  }

  .yoga-btn {
    height: 3rem;
    width: 10rem;
    border-radius: 5rem;
    border: none;
    font-size: 1rem;
    color: #fff;
    margin: auto 1rem;
    background-color: #3cbeb6;
  }

  .meditation-btn {
    height: 3rem;
    width: 10rem;
    border-radius: 5rem;
    border: none;
    font-size: 1rem;
    color: #fff;
    margin: auto 1rem;
    background-color: #c3d694;
  }

  .back-to-top-btn {
    a {
      color: rgba(0, 0, 0, 0.5) !important;
    }
    margin: 1rem 2rem 2rem;
    cursor: pointer;
  }
}

@media (max-width: 750px) {
}
