.demo_container {
  min-height: 120vh;
  display: flex;
  // flex: 7;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
  background-color: $primary_background_color;

  .demo_hero {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Proxima Nova','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 275;
    line-height: 52px;
    color: $primary_red;
  }

  .vid_container {
    flex: 9.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 80vw;

    iframe {
      flex: 1;
      border: none;
      padding-bottom: 5vh;
    }
  }
}
