.testimonials_container {
  min-height: 110vh;
  background-image: url('./images/cubes_irregular.svg');
  background-position: bottom center;
  background-size: 650px 650px;
  background-repeat: no-repeat;

  .content_gutter {
    width: 85vw;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .testimonials_header {
      margin-top: 5rem;
      margin-bottom: 1.5rem;
      width: 35vw;

      h2 {
        color: $primary_red;
        text-align: center;
        text-transform: uppercase;
        font-family: Helvetica, serif;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: 4px;
        font-weight: 600;
      }

      p {
        text-align: center;
        padding-top: 2rem;
        font-family: Helvetica, serif;
        color: #545760;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: 1.5px;
      }
    }

    .testimonials_body {
      width: 100%;
      height: auto;
      margin-top: 2rem;

      .column {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .img_container {
          flex: 4;

          img {
            width: 135px;
            height: auto;
            border-radius: 50%;
          }
        }

        .quote_body {
          flex: 6;
          padding-left: 1rem !important;

          blockquote {
            font-family: Helvetica;
            border-left: none;
            color: #545760;
            line-height: 1.5;
            font-weight: 550;

            i {
              color: $primary_red;
            }
          }

          .testimonials-hr {
            border-top: 1px solid $primary_red;
            width: 100%;
            background-color: $primary_red;
          }

          p {
            font-weight: 600;
            color: #545760;
          }
        }
      }
      .column:nth-child(2) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .testimonials_container {
    background-image: url('./images/molecule.svg');
    background-position: center center;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    padding-bottom: 3rem;

    .content_gutter {
      .testimonials_header {
        width: 80vw;
        margin-top: 3rem;

        h2 {
          font-size: 22px;
        }

        p {
          font-size: 14px;
          line-height: 25px;
        }
      }

      .testimonials_body {
        .column {
          margin-right: 0rem !important;
          .img_container {
            img {
            }
          }

          .quote_body {
            blockquote {
              i {
              }
            }

            .testimonials-hr {
            }

            cite {
            }
          }
        }

        .column:nth-child(n + 1) {
          margin-top: 3rem;
        }
      }
    }
  }
}
