.testimonials_container {
  min-height: 75vh;

  .section-testimonials {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    h2 {
      text-align: center;
      color: $primary_red;
      font-size: 34px;
      line-height: 1.2;
      font-weight: 600;
      letter-spacing: 3px;
      padding-bottom: 1rem;
    }

    .under-heading {
      text-align: center;
      font-family: Helvetica, serif;
      color: #123466;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 4px;
      font-weight: 400;
    }

    .testimonial {
      padding-top: 5rem;
      padding-bottom: 5rem;

      .mario-image,
      .monice-image,
      .monka-image {
        width: 135px;
        height: auto;
        border-radius: 50%;
      }

      .quote-col {
        padding-left: 1rem !important;

        blockquote {
          font-family: 'Nunito-Regular';
          border-left: none;
          color: #545760;
          i {
            color: $primary_red;
          }
        }

        cite {
          color: $headers !important;
        }
      }

      .testimonials-hr {
        border-top: 1px solid $primary_red;
        width: 100%;
        background-color: $primary_red;
      }
    }
  }
}

@media (max-width: 750px) {
  .testimonials_container {
    height: auto;

    .section-testimonials {
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      .under-heading {
        padding-bottom: 2rem;
      }

      .testimonial {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
      }
    }
  }
}
