.signup_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vh;

  .signup_hero {
    font-family: 'Proxima Nova','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 275;
    line-height: 52px;
    color: $primary_red;
   }

  .paper_container {
    width: 70vw;
    min-height: 75vh;

    .stepper_container {
      flex: 1;
      min-height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .step_content {
        width: 35vw;

        .slider_container {
          width: 80%;
        }

        .input_error {
          padding-top: 0;
          margin-top: 0;
          color: $error_red;
        }

        textarea {
          color: $main-font-color;
        }

      }
    }
  }
}
