.signup_container {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #dce0e0;
  border-bottom: 1px solid #dce0e0;

  input {
    color: $main_font_color !important;
    font-family: 'Cabin', sans-serif !important;
  }

  #bedrooms_selector {
    div {
      color: $main_font_color !important;
      border-color: $main_font_color !important;
    }
  }

  #roommates_selector {
    div {
      color: $main_font_color !important;
      border-color: $main_font_color !important;
    }
  }

  #sqfeet_selector {
    div {
      color: $main_font_color !important;
      border-color: $main_font_color !important;
    }
  }

  .header_container {
    width: 40vw;
    text-align: center;
    margin-top: 6rem;

    h2 {
      font-family: 'Roboto', sans-serif;
      color: #ff5745;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }

    p {
      padding-top: 2rem;
      color: #545760;
      font-size: 18px;
      line-height: 30px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  .paper_container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80vw;
    min-height: 80vh;
    padding-bottom: 3rem;

    .stepper_container {
      flex: 1;
      min-height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .congrats_container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          color: green;
          font-family: 'Roboto', sans-serif;
          font-size: 6rem;
        }
      }

      .step_content {
        width: 40vw;

        .street_error_container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          position: absolute;

          width: 100%;
          height: 30px;

          .street_error {
            font-size: 11px;
            color: $error_red;
          }
        }

        .next_btn {
          border: none;
          min-width: 88px;
          background-color: $secondary_navy;
          color: #fff;
          transition-timing-function: ease;
          margin-right: 12px;

          &:hover {
            background-color: lighten($secondary_navy, 10%);
            transition-timing-function: ease;
            transition: 0.25s;
          }
        }

        .back_btn {
          color: $primary_red;
          border-color: $primary_red;
          transition-timing-function: ease;
          &:hover {
            transition-timing-function: ease;
            transition: 0.25s;
            color: white;
            background-color: $primary_red;
          }
        }

        .slider_wrapper {
          margin-top: 2rem;
          margin-bottom: 2rem;
          padding-left: 15px;
          padding-right: 15px;

          .slider_date {
            position: absolute;
            padding-left: 5px;
            color: #545760;
            font-weight: bold;
          }

          .monthly_values {
            position: absolute;
            color: $main_font_color;
            padding-left: 5px;
            font-weight: bold;

            .currency_symbol {
              color: green;
              padding-right: 3px;
            }
          }
        }

        .email_wrapper {
          width: 100%;

          #email_input {
            // border-color: purple !important;
          }
        }

        textarea {
          color: $main_font_color;
        }

        .my-autocomplete-container {
          min-height: 30vh;

          .address_suggestion {
            background-color: #ffffff;
            padding: 10px;
            color: $main_font_color !important;
            cursor: pointer;
            font-family: 'Cabin', sans-serif !important;
          }

          .active_suggestion {
            background-color: #fafafa;
          }
        }
      }
    }
  }
}

@media (max-width: 1126px) {
  .header_container {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100vw !important;
  }
}

@media (max-width: 750px) {
  .stepper_container {
    align-items: left !important;
    padding-left: 1rem;
  }

  .step_content {
    width: 70vw !important;
  }

  .signup_hero {
    font-size: 15px;
    text-align: center;
  }

  .paper_container {
    width: 90vw !important;
  }
}
